$colors:(
  grey:#f4f5f6,
  dark-grey:#93979a,
  green:#42a599,
  white:#ffffff,
  black:#000000,
);

$fontsize:(
  titles: 20px,
  producttitle:15px,
  navbarforms:13px,
 footerdescrsearch:11px,
  back:10px
);