@import 'helpers';
@import 'config';


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .clear{
    position: relative;
  }
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }

  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
   }
   #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
   }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:200px;
  }

  .sofas {
    grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
   left: 42%;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 15%;
  }
  .break {
    padding: 60px;
  }

  .back {
    position: absolute;
    top: 96%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122.5%;
    width: 130px;
    }
    #dots {
      position: absolute;
      left: 5%;
      top: 75.3%;
      width: 100px;
     }

    #dotsprod {
      position: absolute;
      left: 5%;
      // top: 50.3%;
      top:40%;
      width: 100px;
     }
   
    .product {
      position:absolute;
      top: 70%;
  }
}

// ----------------------------------------------------------------------------
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }

  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
   }
   .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
 }
 #title {
  width: 23%;
  position: absolute;
  left: 43%;
  top: 9%;
  height: 16%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:200px;
  }
  .sofas {
    grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
   }

  .back {
   position: absolute;
   top: 95%;
 }
 .btn-primary {
  position: absolute;
  left: 82%;
  top: 128%;
  width: 120px;
  }
  #dotsprod {
    position: absolute;
    left: 5%;
    top: 37.2%;
    width: 140px;
   }
   #dots {
    position: absolute;
    left: 5%;
    top: 80.5%;
    width: 140px;
   }
   .product {
    position: absolute;
    left: 82%;
    top: 70%;
    width: 120px;
  }
}

// -----------------------------------------------------------------------------
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 90%;
  }

  #logo {
    height: 30% !important;
    position: absolute;
   }
   .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
 }

 #title {
  width: 20%;
  position: absolute;
  left: 43%;
  top: 12%;
  height: 25%;
  }

  .cards {
    grid-template-columns: 1fr 1fr ;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:500px;
  }

  .sofas{
    grid-template-columns: 1fr 1fr;
  }
  .back{
    position: absolute;
    top: 97%;
   }
   .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
  #dotsprod {
    position: absolute;
    left: 4%;
    top: 41%;
    width: 180px;
   }
   #dots {
    position: absolute;
    left: 4%;
    top: 122%;
    width: 180px;
   }
   .product{
    position: absolute;
    left: 85%;
    top: 88%;
    width: 130px;
  }
}

// -----------------------------------------------------------------
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
   }

  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 90px;
 }

  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
     }

  .banner {
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 150px 0;
      height: 700px;
   }

   #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
 }

 .cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pr{
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip {
  height:600px;
}

.sofas {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.back{
  position: absolute;
  top: 97%;
 }

 .break{
  padding: 110px;
 }

 .btn-primary {
  position: absolute;
  left: 88%;
  top: 154%;
  width: 130px;
  }
  #dotsprod {
    position: absolute;
    left: 4%;
    top: 39%;
    width: 240px;
   }
   #dots {
    position: absolute;
    left: 4%;
    top: 106.5%;
    width: 240px;
   }
   .product{
    position: absolute;
    left: 88%;
    top: 90%;
    width: 130px;
  }
}

// --------------------------------------------------------------------------
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 75%;
    font-size: 15px;
    }

  #icons {
    position: absolute;
    left: 91%;
    height: 20%;
  }

  #logo {
    height: 30% !important;
    position: absolute;
   }

   .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
 }

  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
 }
 .cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pr {
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip {
  height:700px;
}

.sofas {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .back {
    position: absolute;
    top: 96.5%;
   }

   .break {
    padding: 206px;
   }
   .btn-primary {
    position: absolute;
    left: 89%;
    top: 200.5%;
    width: 140px;
  }
  #dotsprod {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
    top: 73%;
    height: 20%;
    left: -3%;
   }

  #dots {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
    top: 194%;
    height: 20%;
    left: -17%;
   }
   .product {
    position: absolute;
    left: 88.6%;
    top: 91%;
    width: 140px;
  }
}

// --------------------------------------------------------------------------
// XXL devices (large desktops, 1407px and up)
@media (min-width: 1407px) {
  .product {
    position: absolute;
    left: 89%;
    top: 91%;
    width: 140px;
    }
  #dotsprod {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
    top: 73%;
    height: 20%;
    left: -6%;
    }
  }

  // --------------------------------------------------------------------------
// XXXL devices (large desktops, 1458px and up)
@media (min-width: 1458px) {
.btn-primary {
  position: absolute;
  left: 94%;
  top: 204.5%;
  width: 140px;
  } 
  .product {
    position: absolute;
    left: 93.8%;
    top: 91%;
    width: 140px;
    }
  #dotsprod {
      vertical-align: middle;
      border-style: none;
      width: 60%;
      position: absolute;
      top: 73%;
      height: 20%;
      left: -16%;
      }
  #icons {
    position: absolute;
    left: 92%;
    height: 20%;
    }
    #search {
      position: absolute !important;
      left: 80%;
      border: none;
      border-radius: 15px;
      width: 15%;
      height: 20%;
      left: 75%;
      font-size: 15px;
      }

  }