@import 'helpers';
@import 'config';


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }

  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
   }
   #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
   }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:200px;
  }

  .sofas {
    grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
   left: 42%;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 15%;
  }
  .break {
    padding: 60px;
  }

  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122.5%;
    width: 130px;
    }
    #dots {
      position: absolute;
      left: 5%;
      top: 75.4%;
      width: 100px;
     }

    #dotsprod {
      position: absolute;
      left: 5%;
      top: 37.1%;
      width: 100px;
     }
     .product {
      // position: absolute;
      // left: 70%;
      // top: 84%;
      // width: 130px;
      top: 84%;
    }
}

// ----------------------------------------------------------------------------
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }

  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
   }
   .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
 }
 #title {
  width: 23%;
  position: absolute;
  left: 43%;
  top: 9%;
  height: 16%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:200px;
  }
  .sofas {
    grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
   }

  .back {
   position: absolute;
   top: 110%;
 }
 .btn-primary {
  position: absolute;
  left: 82%;
  top: 130%;
  width: 120px;
  }
  #dotsprod {
    position: absolute;
    left: 5%;
    top: 51.5%;
    width: 140px;
   }
   #dots {
    position: absolute;
    left: 5%;
    top: 80.5%;
    width: 140px;
   }
   .product {
    position: absolute;
    left: 82%;
    top: 98%;
    width: 120px;
}
}

// -----------------------------------------------------------------------------
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
   }

  #icons {
    position: absolute;
    left: 90%;
  }

  #logo {
    height: 30% !important;
    position: absolute;
   }
   .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
 }

 #title {
  width: 20%;
  position: absolute;
  left: 43%;
  top: 12%;
  height: 25%;
  }

  .cards {
    grid-template-columns: 1fr 1fr ;
  }

  .pr{
    grid-template-columns: 1fr 1fr;
  }

  .card-trip {
    height:500px;
  }

  .sofas{
    grid-template-columns: 1fr 1fr;
  }
  .back{
    position: absolute;
    top: 161%;
   }
   .btn-primary {
    position: absolute;
    left: 85%;
    top: 171%;
    width: 130px;
  }
  #dotsprod {
    position: absolute;
    left: 4%;
    top: 101%;
    width: 180px;
   }
   #dots {
    position: absolute;
    left: 4%;
    top: 122%;
    width: 180px;
   }
   .product{
    position: absolute;
    left: 85%;
    top: 148%;
    width: 130px;
  }
}

// -----------------------------------------------------------------
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
   }

  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 90px;
 }

  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
     }

  .banner {
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 150px 0;
      height: 700px;
   }

   #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
 }

 .cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pr{
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip {
  height:600px;
}

.sofas {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.back{
  position: absolute;
  top: 166%;
 }

 .break{
  padding: 110px;
 }

 .btn-primary {
  position: absolute;
  left: 88%;
  top: 156%;
  width: 130px;
  }
  #dotsprod {
    position: absolute;
    left: 4%;
    top: 103%;
    width: 240px;
   }
   #dots {
    position: absolute;
    left: 4%;
    top: 106.5%;
    width: 240px;
   }
   .product{
    position: absolute;
    left: 88%;
    top: 150%;
    width: 130px;
  }
}

// --------------------------------------------------------------------------
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
    }

  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }

  #logo {
    height: 30% !important;
    position: absolute;
   }

   .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
 }

  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
 }
 .cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pr {
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip {
  height:700px;
}

.sofas {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .back {
    position: absolute;
    top: 188%;
   }

   .break {
    padding: 121px;
   }
   .btn-primary {
    position: absolute;
    left: 94%;
    top: 207.5%;
    width: 140px;
  }
  #dotsprod {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
    top: 163.5%;
    height: 20%;
    left: -23%;
   }

  #dots {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
    top: 198%;
    height: 20%;
    left: -23%;
   }
   .product {
    position: absolute;
    left: 94%;
    top: 171%;
    width: 140px;
  }

}


