@charset "UTF-8";
@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

.bg-light {
  background-color: #f4f5f6;
  height: 150px;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px !important;
}

#search {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  line-height: inherit;
  white-space: nowrap;
  width: 80px;
  font-size: 11px;
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
  display: block;
  text-align: center;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.navbar-light .navbar-toggler {
  color: black;
  border: none;
}

.navbar-light .navbar-toggler-icon {
  width: 25px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 18px;
  padding-bottom: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

#title {
  width: 30%;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  left: 45%;
  top: 40%;
}

.banner {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 150px 0;
}

@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1rem;
}

.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 20px;
}

.pr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  vertical-align: middle;
  border-style: none;
  height: 100%;
}

.card-title {
  color: #ffffff;
}

.card-title:hover {
  color: #000000;
  text-decoration: none;
}

.card-sofa > img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-sofa h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sofa p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.sofas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
}

.card-sofa {
  -webkit-box-shadow: 3px 3px 9px 1px #ccc;
          box-shadow: 3px 3px 9px 1px #ccc;
}

@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

.btn-primary {
  color: black !important;
  background-color: #ffffff !important;
  border: none !important;
  font-size: 11px !important;
  line-height: 2rem !important;
  border-radius: 0px !important;
}

#arrow {
  padding-left: 10%;
}

@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

.first {
  vertical-align: middle;
  border-style: none;
  position: relative;
}

@media (min-width: 100px) and (max-width: 575px) {
  .first {
    left: 38%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
  }
}

@media (min-width: 576px) {
  .first {
    left: 38%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
  }
}

@media (min-width: 768px) {
  .first {
    left: 39%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 23%;
  }
}

@media (min-width: 992px) {
  .first {
    left: 39%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 22%;
  }
}

@media (min-width: 1200px) {
  .first {
    left: 42.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
}

.second {
  vertical-align: middle;
  border-style: none;
  position: relative;
}

@media (min-width: 100px) and (max-width: 575px) {
  .second {
    left: 38%;
    width: 25%;
  }
}

@media (min-width: 576px) {
  .second {
    position: relative;
    left: 38%;
    width: 25%;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .second {
    left: 39%;
    width: 23%;
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .second {
    left: 45%;
    padding-bottom: 20px;
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .second {
    left: 42.5%;
    width: 15%;
    padding-bottom: 20px;
  }
}

.third {
  vertical-align: middle;
  border-style: none;
  position: relative;
}

@media (min-width: 100px) and (max-width: 575px) {
  .third {
    left: 38%;
    width: 32%;
  }
}

@media (min-width: 576px) {
  .third {
    left: 38%;
    width: 32%;
  }
}

@media (min-width: 768px) {
  .third {
    left: 39%;
    width: 32%;
  }
}

@media (min-width: 992px) {
  .third {
    left: 45%;
    width: 32%;
  }
}

@media (min-width: 1200px) {
  .third {
    left: 42.5%;
    width: 32%;
  }
}

.clear {
  text-align: center;
  padding: 20px;
}

@media (min-width: 100px) and (max-width: 575px) {
  #search {
    position: absolute !important;
    left: 40%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 83%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 350px;
  }
  #title {
    width: 30%;
    position: absolute;
    left: 39%;
    top: 13%;
    height: 11%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sofa {
    position: relative;
    left: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  .break {
    padding: 60px;
  }
  .back {
    position: absolute;
    top: 93%;
  }
  .btn-primary {
    position: absolute;
    left: 74%;
    top: 122%;
    width: 130px;
  }
}

@media (min-width: 576px) {
  #search {
    position: absolute !important;
    left: 43%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 87%;
    height: 13%;
  }
  #logo {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 49%;
  }
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 400px;
  }
  #title {
    width: 23%;
    position: absolute;
    left: 43%;
    top: 9%;
    height: 16%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 200px;
  }
  .sofas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .break {
    padding: 83px;
  }
  .back {
    position: absolute;
    top: 110%;
  }
  .btn-primary {
    position: absolute;
    left: 82%;
    top: 128%;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #search {
    position: absolute !important;
    left: 45%;
    background: none;
  }
  #icons {
    position: absolute;
    left: 90%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 600px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 12%;
    height: 25%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card-trip {
    height: 500px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 161%;
  }
  .btn-primary {
    position: absolute;
    left: 85%;
    top: 169%;
    width: 130px;
  }
}

@media (min-width: 992px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 73%;
    font-size: 17px;
  }
  #icons {
    position: absolute;
    left: 90%;
    height: 18%;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 90px;
  }
  #logo {
    width: 139px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: -1%;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 700px;
  }
  #title {
    width: 20%;
    position: absolute;
    left: 43%;
    top: 15%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 600px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 166%;
  }
  .break {
    padding: 110px;
  }
  .btn-primary {
    position: absolute;
    left: 88%;
    top: 153%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  #search {
    position: absolute !important;
    left: 47%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 20%;
    left: 82%;
    font-size: 15px;
  }
  #icons {
    position: absolute;
    left: 95%;
    height: 20%;
  }
  #logo {
    height: 30% !important;
    position: absolute;
  }
  .banner {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 150px 0;
    height: 1200px;
  }
  #title {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 13%;
    height: 20%;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pr {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card-trip {
    height: 700px;
  }
  .sofas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back {
    position: absolute;
    top: 188%;
  }
  .break {
    padding: 121px;
  }
  .btn-primary {
    position: absolute;
    left: 94%;
    top: 205%;
    width: 140px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  font-weight:  700;
  font-style:  normal;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1/-1;
      grid-template-columns: 1/-1;
}

h3 {
  font-size: 30px;
  background-color: pink;
  padding: 10px;
  text-align: center;
}

.footer-text {
  position: absolute;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */